.primary__header {
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 16px;
  padding-right: 16px;
  background-color: #D2E1FF;
  border: none;
  text-decoration: none;
  color: #3A79FF;
  font-family: 'QuickSand-Bold', sans-serif;
  font-weight: bold;
  font-size: 13px;
  cursor: pointer;
  border-radius: 2px;
}

.primary__header:hover {
  background-color: #4c82f8;
  color: white;
}
